fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg[binary]
redis
python-jose[cryptography]
passlib[bcrypt]
python-multipart

httpx
requests

pytest
pytest-asyncio

scikit-learn
pandas
numpy
pyarrow
joblib

prometheus-client

mlflow